@page "/"

<div class="index-panel content-tran" >
    
</div>

<MContainer class="index-panel" Fluid >
    
</MContainer>

<MContainer class="content">
    <MRow>
        <MCol Cols="12"
              Sm="3">
            <div class="index-panel content-tran">

            </div>
        </MCol>
        <MCol Cols="12"
              Sm="6">
            <div class="index-panel content-tran">

            </div>
        </MCol>
        <MCol Cols="12"
              Sm="3">
            <div class="index-panel content-tran">
                <MImage Style="width:200px;height:200px;background-color:lightsalmon;" Class="mx-auto">

                </MImage>
            </div>
        </MCol>
    </MRow>
</MContainer>

<style>
    .content {
    margin-top: 10px;
    width: 90%;
    height: 300px;
    /*background-color: lightgray;*/
}
</style>

@code{

}