html,
*,
body {
    margin: 0 auto;
    padding: 0px;
}

.title-panel {
    background-color: lightcoral;
    height: 300px;
}

.index-panel {
    background-color: lightcoral;
}

.content-item {
    margin-bottom: 15px;
    /*background-color:darkturquoise;*/
    animation-fill-mode: backwards !important;
}