html,
*,
body{
    margin: 0 auto;
    padding: 0px;
}

.title-panel {
    background-color: lightcoral;
    height: 200px;
}

.index-panel {
    background-color: lightcoral;
}

.content-item {
    margin-bottom: 10px;
    background-color:darkturquoise;
    animation-fill-mode: backwards !important;
}

