@page "/"
@using Microsoft.Extensions.ObjectPool

<MApp>
    <MContainer Fluid>
        <div class="title-panel top-tran mx-auto transition-swing secondary rounded-xl elevation-20">        </div>
    </MContainer>
    <MMain>
        <MContainer Class="fill-height pa-0" Style="width:90%;" Fluid>
            <MRow Class="fill-height">
                <MCol Cols="12"
                      Sm="3">
                    <div class="left-tran" style="background-color: antiquewhite;">
                        <div>
                            @for (var i = 0; i < 5; i++)
                            {
                                <CategoryComponent Name=@($"测试分类{@i}") Num=@($"{@i}") Class="left-tran elevation-5 rounded-lg" Style=@($"animation-delay: {@i * 100}ms;animation-fill-mode: backwards !important;")>
                                                                                                                                                                                                
                                </CategoryComponent>
                            }
                        </div>
                        <div>
                            @for (int i = 0; i < 30; i++)
                            {
                                <TagComponent Name=@($"Blazor{i}") Color="@colors[i % 10]" Class="elevation-15 left-tran" Style=@($"animation-delay: {@i * 50}ms;animation-fill-mode: backwards !important;")>
                                </TagComponent>
                            }
                        </div>
                    </div>
                </MCol>
                <MCol Cols="12"
                      Sm="6">
                    <div class="fill-height bottom-tran rounded-xl">
                        @for (int i = 0; i < 10; i++)
                        {
                            <div style="animation-delay: @(i*100)ms;" class="content-item bottom-tran elevation-24 rounded-xl">
                                <MSheet Color="@($"grey {(IsDark?"darken-2":"lighten-4")}")" Class="rounded-xl">
                                    <MSkeletonLoader Class="rounded-xl"
                                                 Type="card">
                                    </MSkeletonLoader>
                                </MSheet>
                            </div>
                        }
                    </div>
                </MCol>
                <MCol Cols="12"
                      Sm="3">
                    <div class="fill-height index-panel right-tran rounded-xl elevation-20" style="padding-top: 20px;">
                        <MImage Style="width:200px;height:200px;background-color:lightsalmon;" Class="mx-auto rounded-xl right-tran elevation-20">

                        </MImage>
                    </div>
                </MCol>
            </MRow>
        </MContainer>
    </MMain>
</MApp>

<style>
    .content {
        /*margin-top: 10px;*/
        height: 300px;
        /*background-color: lightgray;*/
    }
</style>

@code {
    [CascadingParameter(Name = "IsDark")]
    public bool IsDark { get; set; }

    public string[] colors = new[]
    {
        "#9575CD","#7986CB","#E57373","#AB47BC","#039BE5","#00897B","#0097A7","#388E3C","#6D4C41","#546E7A"
    };

}