<span class="@Class" style="@Style;background-color: @Color;">@Name</span>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public string Class { get; set; }
}